@page "/"
@implements IDisposable
@attribute [Authorize(Roles = "Admin, Elev")]
@using Yber.Services.DTO


<PageTitle>Home</PageTitle>

<div class="text-center">
	<h3>Welcome @_FirstName to ÜBER</h3>
</div>
<div id="map"></div>

@if (_actualStudent is not null)
{
	@if (_actualStudent.Lift_Take == true)
	{
		<div class="text-center">
			<RadzenDataGrid @ref="_LiftGiverGrid"
							TItem="StudentDTO"
							AllowPaging="true"
							PageSize="10"
							AllowColumnResize="true"
							SelectionMode="DataGridSelectionMode.Single"
							PagerHorizontalAlign="HorizontalAlign.Center"
							Data="@_driverStudents">

				<Columns>
					<RadzenDataGridColumn TItem="StudentDTO" Property="First_Name" Title="Name"></RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="StudentDTO" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
						<Template>
							<RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="done" Size="ButtonSize.Small" Class="m-1" Click="@(args =>  Accept())" />
						</Template>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="StudentDTO" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
						<Template>
							<RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Class="m-1" Click="@(args =>  Reject())" />
						</Template>
					</RadzenDataGridColumn>
				</Columns>
			</RadzenDataGrid>
		</div>
	}

	@if (_actualStudent.Lift_Give == true)
	{
		<div class="text-center">
			<RadzenDataGrid @ref="_LiftTakerGrid"
							TItem="StudentDTO"
							AllowPaging="true"
							PageSize="10"
							AllowColumnResize="true"
							SelectionMode="DataGridSelectionMode.Single"
							PagerHorizontalAlign="HorizontalAlign.Center"
							Data="@_liftStudents">

				<Columns>
					<RadzenDataGridColumn TItem="StudentDTO" Property="First_Name" Title="Name"></RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="StudentDTO" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
						<Template>
							<RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="done" Size="ButtonSize.Small" Class="m-1" Click="@(args =>  Accept())" />
						</Template>
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="StudentDTO" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
						<Template>
							<RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Class="m-1" Click="@(args =>  Reject())" />
						</Template>
					</RadzenDataGridColumn>
				</Columns>
			</RadzenDataGrid>
		</div>
	}
}